@tailwind base;
@tailwind components;
@tailwind utilities;

.ball {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), inset 0 -4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.no-cursor {
  caret-color: transparent;
}